CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# system image file
*.iso

#object files
*.o

#dynamic link libs
*.dll

#executables
*.exe

